<!DOCTYPE html>
<html lang="en">
<%- include('../components/head/Head', {title: 'chat app'}) %>
<style>
    body{
        margin: 0px;
        padding: 0px;
        background: #f0f2f5;
    }
</style>
<body>
    <%- include('../components/topbar/Topbar') %>
    <%- include('../components/friend-page/Banner') %>
    <div class="container_page">
        <div class="page_main_container">
            <div class="user_friend_info">
                <%- include('../components/friend-page/FriendInfo') %>
                <%- include('../components/friend-tap/FriendList') %>
            </div>
            <div class="w-5">
                <%- include('../components/post/PostList') %>
            </div>
        </div>
        <script>
            axios.get('<%= "/users/"+id+"/page" %>')
            .then(function(result){
                let meInfo = JSON.parse(localStorage.getItem('user'));
                let meIndex = -1;
                let userInfo = result.data;
                let friendInfos = userInfo.friends;
                friendInfos.data.forEach((item,index)=>{
                    if(item.id==meInfo.id) {
                        meIndex = index;
                        friendInfos.total--;
                    }
                })
                if(meIndex>-1){
                    friendInfos.data.splice(0, 1);
                }
                
                console.log(userInfo);
                switch(userInfo.gender){
                    case 1: userInfo.gender_name = 'male'; break;
                    case 2: userInfo.gender_name = 'female'; break;
                    case 0: userInfo.gender_name = 'other'; break;
                }
                console.log(userInfo);
                document.getElementById('profileBannerImage').setAttribute('src', userInfo.cover);
                document.getElementById('bannerAvatarImage').setAttribute('src', userInfo.avatar);
                document.getElementById('u-name').innerText = userInfo.full_name;
                let friendRequestContainer = document.getElementById('friendRequestContainer');
                if(meIndex==-1)
                friendRequestContainer.innerHTML = `
                <friend-request-template id="friendRequestTemplate" userid="1">
                    <button class="mainBtnCustom blueBg" onclick="newFriendRequest(<%= id %>)" id="btnAddFriend">
                        Gửi lời mời kết bạn
                    </button>
                </friend-request-template>`;

                if(userInfo.friendStatus){
                    document.getElementById('friendRequestTemplate').innerText = "Đã gửi lời mời kết bạn";
                }

                document.getElementById('userinfo-mssv').innerText = userInfo.mssv;
                document.getElementById('userinfo-district').innerText = userInfo.district;
                document.getElementById('userinfo-email').innerText = userInfo.email;
                document.getElementById('userinfo-gender').innerText = userInfo.gender_name;


                document.getElementById('friendNumber').innerText = "Có " + userInfo.friends.total + " bạn bè";
                let friendListContainer = document.getElementById('friendListContainer');
                let friends = userInfo.friends.data;
                let render = friends? friends.map((friend, index) => {
                    return `
                    <div class="col flex">
                        <a href="/users/${friend.id}" class="friend flex-column" is="router-link">
                            <img src="${friend.avatar}" alt="" class="imageList">
                            <span class="nameFriend">${friend.full_name}</span>
                        </a>
                    </div>
                    `;
                }).join("") : "";
                friendListContainer.innerHTML = render;
            }).catch(function(err){
                console.log(err);
            });

            axios.get('/users/<%= id %>/posts').then((res) => {
                console.log(res.data);
                let userInfo = res.data.userInfo;
                res.data.data.forEach(postInfo => {
                    posts = document.getElementById('myPostContainer');
                    let render = renderPost(postInfo, userInfo);
                    posts.innerHTML += render;
                    renderActionPost(postInfo.id);
                });
            }).catch((e) => {
                console.log(e);
            });

        </script>
    </div>
    <style>
        .container_page {
            display: flex;
            justify-content: center;
            margin-bottom: 30px;
        }
        .page_main_container {
            width: 100%;
            margin-top: 20px;
            max-width: 1000px;
            display: flex;
            justify-content: space-between;
        }
        .user_friend_info {
            width: 50%;
        }
        .w-5 {
            width: 50%;
        }
    </style>
</body>
</html>